[user]
	name = Josh Taylor
	email = {{
        eq .chezmoi.username "vtaylj6"
        | ternary "josh.taylor@pearson.com" "taylor.joshua88@gmail.com"
    }}
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath = 1
[core]
    pager = delta
[init]
    defaultBranch = {{
        eq .chezmoi.username "vtaylj6"
        | ternary "master" "main"
    }}
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictStyle = zdiff3
[alias]
	lazy = !lazygit
